<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <h1>Class 1</h1>
        <p>This is a demo of differnet action result types in ASP.Net Core.</p>
    </body>
</html>